@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: "Nanum Pen Script", cursive;
}

body {
  margin: 0;
  background-color: var(--color-dark-grey);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  color: white;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: white;
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

span {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-white);
}

/* Navbar */
header {
  width: 100%;
  border-bottom: 1px solid white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.navbar__item {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.mainlogo {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 0;
  font-size: 50px;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  width: 180px;
}
.mainlogo:hover {
  border: 1px solid white;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__item__list {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin: 20px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  /* margin-right: 50px; */
  font-size: 26px;
}
.navbar__item__list:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a:nth-child(3) {
  filter: hue-rotate(180deg);
}
.navbar__item__list span {
  position: absolute;
  display: block;
}
.navbar__item__list span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.navbar__item__list span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.navbar__item__list span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.navbar__item__list span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Home */
.Home {
  margin: 50px;
}

/* Login */

.Login {
  margin: 150px 0;
}
.LoginTitle {
  text-align: center;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.pwBox,
.idBox {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.pwBox:focus,
.idBox:focus {
  background-color: greenyellow;
}

.LoginBtn {
  background-color: #ccc;
  font-size: 30px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  width: 100%;
}

/* free Board */
.Boardsec {
  height: 100vh;
}
.Board {
  position: relative;
  border: 1px solid white;
  height: 800px;
  width: 1000px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  text-align: center;
}
.menulist {
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  border-top: none;
  font-size: 20px;
}

.menulist:nth-child(1) {
  flex-basis: 100px;
}
.menulist:nth-child(2) {
  flex-basis: 150px;
  justify-content: center;
}
.menulist:nth-child(3) {
  flex-basis: 500px;
}
.menulist:nth-child(4) {
  flex-basis: 125px;
}
.menulist:nth-child(5) {
  flex-basis: 125px;
  border-right: none;
}
.writebtn {
  top: -5.5%;
  right: 0px;
  position: absolute;
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #eeeeee;
  color: black;
  font-size: 25px;
}

.noticeboard {
  display: flex;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-top: none;
  padding: 10px 0;
}

.number {
  flex-basis: 100px;
}
.writer {
  flex-basis: 150px;
  justify-content: center;
}
.title {
  flex-basis: 500px;
}
.registration {
  flex-basis: 125px;
}
.views {
  flex-basis: 125px;
  border-right: none;
}

/* BookStore */
.BookStore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.inputBox {
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  margin: 30px;
  text-align: center;
}

.inputBtn {
  background-color: black;
  padding: 10px 20px;
  margin: 10px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  border-radius: 10px;
}
.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.books__list {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 10px 30px;
  border: 1px solid white;
  padding: 30px;
}
.books__list > div {
  margin: 20px;
  font-size: 30px;
}
.books__list > div:last-child {
  position: absolute;
  bottom: 0px;
  left: 45%;
  transform: translate(-50%, 0%);
  font-size: 30px;
}
.pageBtnbox {
  display: flex;
  justify-content: center;
  align-items: centers;
}
.pageBtn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  background: black;
  color: white;
  font-size: 1.5rem;
}

.pageBtn:hover {
  background: tomato;
  cursor: pointer;
  transform: translateY(-2px);
}
